<h1 mat-dialog-title class="text-uppercase">
  {{data.isCreate ? "Thêm mới" : "Cập nhật" }} nhân viên y tế
</h1>
<div mat-dialog-content class="mt-2">
  <form #addForm="ngForm"
        name="addMedicalStaffForm"
        class="row justify-content-md-center">
    <label for="name" class="form-label">
      Tên nhân viên<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input [(ngModel)]="data.medicalStaff.name"
             type="text"
             class="form-control"
             id="name"
             name="name"
             placeholder="Nhập tên nhân viên y tế"
             required
             #medicalStaffName="ngModel"
      />
      <div
        *ngIf="medicalStaffName.invalid && (medicalStaffName.dirty || medicalStaffName.touched) && medicalStaffName.errors?.['required']"
        class="text-danger">
        Tên nhân viên không được để trống
      </div>
    </div>

    <label for="certificate" class="form-label">
      Chứng chỉ hành nghề<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input [(ngModel)]="data.medicalStaff.certificate"
             type="text"
             class="form-control"
             id="certificate"
             name="certificate"
             placeholder="Nhập số chứng chỉ hành nghề"
             required
             #certificate="ngModel"
      />
      <div
        *ngIf="certificate.invalid && (certificate.dirty || certificate.touched) && certificate.errors?.['required']"
        class="text-danger">
        Số chứng chỉ hành nghề không được để trống
      </div>
    </div>

    <label for="dob" class="form-label">
      Ngày sinh<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input [(ngModel)]="data.medicalStaff.dob"
             type="date"
             class="form-control"
             id="dob"
             name="dob"
             placeholder="Chọn ngày sinh nhân viên"
             required
             #yearOfBirth="ngModel"
      />
      <div
        *ngIf="yearOfBirth.invalid && (yearOfBirth.dirty || yearOfBirth.touched) && yearOfBirth.errors?.['required']"
        class="text-danger">
        Ngày sinh không được để trống
      </div>
    </div>

    <label class="form-label" for="gender">
      Giới tính<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <ng-select
        [(ngModel)]="data.medicalStaff.gender"
        id="gender"
        name="gender"
        #gender="ngModel"
        placeholder="Lựa chọn giới tính"
        required>
        <ng-option *ngFor="let item of genders" [value]="item.id">
          {{ item.name }}
        </ng-option>
      </ng-select>
      <div
        *ngIf="gender.invalid && (gender.dirty || gender.touched) && gender.errors?.['required']"
        class="text-danger text-xs">
        Giới tính không được để trống
      </div>
    </div>

    <label for="phone" class="form-label">
      Số điện thoại<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input
        [(ngModel)]="data.medicalStaff.phoneNumber"
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Nhập số điện thoại"
        maxLength="11"
        required
        validatePhoneNumber
        #phone="ngModel"
      />
      <div
        *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.errors?.['required']"
        class="text-danger text-xs">
        Số điện thoại không được để trống
      </div>
      <div
        *ngIf="phone.invalid && phone.errors?.['invalidPhoneNumber'] && !phone.errors?.['required'] && (phone.dirty || phone.touched)"
        class="text-danger text-xs"
      >
        {{phone.errors?.['invalidPhoneNumber']}}
      </div>
    </div>

    <label for="email" class="form-label">
      Email<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input
        [(ngModel)]="data.medicalStaff.email"
        type="email"
        #email="ngModel"
        class="form-control"
        id="email"
        name="email"
        placeholder="Nhập email"
        required
        validateEmail
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']"
        class="text-danger text-xs">
        Email không được để trống
      </div>
      <div
        *ngIf="email.invalid && email.errors?.['invalidEmail'] && !email.errors?.['required'] && (email.dirty || email.touched)"
        class="text-danger text-xs"
      >
        {{email.errors?.['invalidEmail']}}
      </div>
    </div>

    <label for="cccd" class="form-label">
      Số CCCD/CMND<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input
        [(ngModel)]="data.medicalStaff.cccd"
        type="text"
        class="form-control "
        id="cccd"
        name="cccd"
        placeholder="Nhập số CCCD/CMND"
        required
        #cccd="ngModel"
        [maxLength]="12"
        validateOnlyNumber
      />
      <div
        *ngIf="cccd.invalid && (cccd.dirty || cccd.touched) && cccd.errors?.['required']"
        class="text-danger text-xs">
        Số CCCD/CMND không được để trống
      </div>
      <div
        *ngIf="cccd.invalid && cccd.errors?.['invalid'] && !cccd.errors?.['required'] && (cccd.dirty || cccd.touched)"
        class="text-danger text-xs"
      >
        {{cccd.errors?.['invalid']}}
      </div>
    </div>

    <label for="address" class="form-label">
      Địa chỉ<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <input
        [(ngModel)]="data.medicalStaff.address"
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Nhập địa chỉ"
        required
        #address="ngModel"/>
      <div
        *ngIf="address.invalid && (address.dirty || address.touched) && address.errors?.['required']"
        class="text-danger text-xs">
        Địa chỉ không được để trống
      </div>
    </div>

    <label for="specialize" class="form-label">
      Chuyên môn<span class="text-danger">*</span>
    </label>
    <div class="mb-3">
      <ng-select
        [(ngModel)]="data.medicalStaff.specialize"
        id="specialize"
        name="specialize"
        placeholder="Lựa chọn chuyên môn"
        #specialize="ngModel"
        required>
        <ng-option *ngFor="let item of specializes" [value]="item.name">
          {{ item.name }}
        </ng-option>
      </ng-select>
      <div
        *ngIf="specialize.invalid && (specialize.dirty || specialize.touched) && specialize.errors?.['required']"
        class="text-danger text-xs">
        Chuyên môn không được để trống
      </div>
    </div>


    <label for="address" class="form-label">
      Khoa bệnh<span class="text-danger">*</span>
    </label>
    <div class="form-group">
      <ng-select
        [(ngModel)]="data.medicalStaff.departmentId"
        id="department"
        name="departmentId"
        #department="ngModel"
        placeholder="Lựa chọn khoa bệnh"
        required>
        <ng-option *ngFor="let item of departments" [value]="item.id">
          {{ item.name }}
        </ng-option>
      </ng-select>
      <div
        *ngIf="department.invalid && (department.dirty || department.touched) && department.errors?.['required']"
        class="text-danger text-xs">
        Khoa bệnh không được để trống
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button class="btn btn-secondary btn-sm m-2" (click)="close()"><span>Huỷ</span></button>
  <button
    [disabled]="!addForm.valid"
    type="submit"
    class="btn btn-primary btn-sm"
    (click)="showValue(addForm)"
    [mat-dialog-close]="data.medicalStaff">
    <span>Lưu</span>
  </button>
</div>
