<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px;">
  <mat-card fxFlex="40" fxLayout="column">
    <mat-toolbar color="primary">
      <span>Hệ thống quản lý bệnh nhân nội trú - PMS</span>
    </mat-toolbar>
    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()" fxLayout="column" class="px-3 py-3">
      <div>
      </div>
      <label for="username">Tài khoản</label>
      <mat-form-field class="mb-2">
        <input
          id="username"
          name="username"
          [readonly]="true"
          [value]="username"
          placeholder="Tên tài khoản"
          matInput>
      </mat-form-field>

      <label for="oldPassword">Mật khẩu hiện tại<span class="text-danger">*</span></label>
      <mat-form-field class="mb-2">
        <input
          matInput
          id="oldPassword"
          name="oldPassword"
          placeholder="Mật khẩu hiện tại"
          formControlName="oldPassword"
          type="password"
          required>
        <mat-error class="mb-1" *ngIf="changeForm.get('oldPassword')?.invalid
        && (changeForm.get('oldPassword')?.dirty
        || changeForm.get('oldPassword')?.touched)
        && changeForm.get('oldPassword')?.errors?.required">
          Mật khẩu hiện tại không được để trống
        </mat-error>
      </mat-form-field>

      <label for="newPassword">Mật khẩu mới<span class="text-danger">*</span></label>
      <mat-form-field class="mb-2">
        <input
          matInput
          id="newPassword"
          name="newPassword"
          placeholder="Mật khẩu mới"
          formControlName="newPassword"
          type="password"
          required>
        <mat-error class="mb-1" *ngIf="changeForm.get('newPassword')?.invalid
        && (changeForm.get('newPassword')?.dirty
        || changeForm.get('newPassword')?.touched)
        && changeForm.get('newPassword')?.errors?.required">
          Mật khẩu mới không được để trống
        </mat-error>
        <mat-error class="mb-1" *ngIf="newPassword.hasError('minlength')">
          Mật khẩu tối thiểu {{minPw}} ký tự
        </mat-error>
      </mat-form-field>

      <label for="newPassword">Xác nhận mật khẩu<span class="text-danger">*</span></label>
      <mat-form-field class="mb-2">
        <input
          matInput
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Xác nhận mật khẩu"
          formControlName="confirmPassword"
          type="password"
          required>
        <mat-error class="mb-1" *ngIf="changeForm.get('confirmPassword')?.invalid
        && (changeForm.get('confirmPassword')?.dirty
        || changeForm.get('confirmPassword')?.touched)
        && changeForm.get('confirmPassword')?.errors?.required">
          Bạn chưa thực hiện xác nhận mật khẩu
        </mat-error>
        <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')" class="mb-1">
          Mật khẩu không khớp với mật khẩu đã nhập
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        [disabled]="!changeForm.valid"
        color="primary">
        <span>Xác nhận</span>
      </button>
    </form>
  </mat-card>
</div>
