<h3 class="mt-4 text-uppercase">Danh sách thông tin buồng bệnh điều trị {{departmentName}}</h3>
<div class="mt-3">

  <form (submit)="search()">
    <div class="row justify-content-end">
      <div class="col-10">
        <input
          class="form-control"
          type="search"
          [(ngModel)]="searchVo.searchText"
          name="searchText"
          placeholder="Nhập thông tin">
      </div>
      <div class="col-2">
        <button
          class="btn btn-light"
          type="submit">
          <i class='bx bx-search'></i>Tìm kiếm
        </button>
      </div>
    </div>
  </form>

<!--  <div class="col-2 mt-3" *ngIf="isAuthor()">-->
<!--    <ng-select-->
<!--      id="selectDepartment"-->
<!--      placeholder="Lọc theo khoa bệnh"-->
<!--      [items]="departments"-->
<!--      [(ngModel)]="departmentId"-->
<!--      [clearable]="false"-->
<!--      bindValue="id"-->
<!--      bindLabel="name"-->
<!--      (ngModelChange)="onDepartmentChange($event)"-->
<!--    >-->
<!--    </ng-select>-->
<!--  </div>-->

  <div class="row mt-3" *ngIf="isAuthor()">
    <div class="col-2">
      <button class="btn btn-outline-success btn-md"
              type="submit"
              (click)="showCreate()">
        <i class='bx bx-plus'></i>
        <span>Thêm</span>
      </button>
    </div>

  </div>

  <div class="table-responsive">
    <table
      sorter
      (sortChange)="onSortChange($event)"
      class="table table-hover mt-4">
      <thead>
      <tr class="text-secondary text-start text-uppercase">
        <th scope="col">#</th>
        <th sortHeader ref="roomCode" scope="col">Mã buồng</th>
        <th sortHeader ref="roomNumber" scope="col">Tên buồng</th>
        <th sortHeader ref="totalBed" scope="col">Tổng số giường</th>
        <th sortHeader ref="createTime" scope="col">Thời gian tạo</th>
        <th sortHeader ref="createBy" scope="col">Người tạo</th>
        <th sortHeader ref="status" scope="col">Trạng thái</th>
        <th scope="col">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-dark text-start" *ngFor="let item of rooms; let id = index">
        <td>{{id + 1 + itemsPerPage * (page - 1)}}</td>
        <td>{{item.roomCode}}</td>
        <td>{{item.roomNumber}}</td>
        <td>{{item.totalBed}}</td>
        <td>{{item.createTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{item.createBy}}</td>
        <td>
          <div
            class="d-inline-block bg-success bg-opacity-25 text-success p-2 rounded"
            [ngClass]="item.status === true ? 'text-success bg-success' : 'text-danger bg-danger'">
            {{ item.status === true ? "Trống" : "Đầy" }}
          </div>
        </td>
        <td>
          <button
            (click)="showDetails(item.id)"
            class="btn btn-outline-info btn-sm me-1">
            <span>Chi tiết</span>
          </button>
          <button
            *ngIf="isAuthor()"
            (click)="showUpdate(item.id)"
            class="btn btn-outline-primary btn-sm me-1">
            <span>Sửa</span>
          </button>
          <button
            *ngIf="isAuthor()"
            (click)="showDelete(item)"
            class="btn btn-outline-danger btn-sm">
            <span>Xoá</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-around">
    <div class="col-3" *ngIf="totalElements > 0">
      Hiển thị từ {{ 1 + itemsPerPage * (page - 1) }} -
      {{ math.min(totalElements, itemsPerPage * page) }} /
      {{ totalElements }} phần tử
    </div>
    <div class="col-3">
      <pagination
        (onPageChange)="onPageChange($event)"
        [page]="page"
        [totalItems]="totalElements"
        [itemsPerPage]="itemsPerPage"
      ></pagination>
    </div>
    <div class="col-3">
      <span style="font-size: 14px; line-height: 16px">
        Số lượng hiển thị/Trang: </span>&nbsp;
      <div class="d-inline-block">
        <select
          style="font-size: 14px; line-height: 16px"
          class="form-select"
          aria-label="Số phần tử/Trang"
          [ngModel]="itemsPerPage"
          (ngModelChange)="onItemPerPageChange($event)">
          <option *ngFor="let item of lsItemsPerPage" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
