<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Thuốc điều trị">
    <app-order-drug [patientId]="patientId"></app-order-drug>
  </mat-tab>

  <mat-tab label="Xét nghiệm CLS">
    <app-order-test [patientId]="patientId"></app-order-test>
  </mat-tab>

  <mat-tab label="Phẫu thuật/thủ thuật">
    <app-order-surgery [patientId]="patientId"></app-order-surgery>
  </mat-tab>
</mat-tab-group>
<div mat-dialog-actions align="end">
  <button class="btn btn-secondary btn-sm m-2" (click)="close()"><span>Đóng</span></button>
</div>
